.conta1 {
    background: #d2d2d2;
    display: flex;
    margin: 2px;
  }

.contab {
  flex-direction: column-reverse  ;
}  

.contac {
  flex-direction: column-reverse  ;
}

.contad{
    flex-direction: row-reverse;
}

.aa {
    display: flex;
    justify-content: space-between;
}
  
  .box {
    padding: 1px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5cm;
    text-align: center;
    width: 100px;
    margin: 3px;


  }
  
  .box1 {
    background-color: aqua;
  }
  .box2 {
    background-color: aquamarine;
  }
  .box3 {
    background-color: bisque;
  }
  .box4 {
    background-color: blanchedalmond;
  }
  .box5 {
    background-color: blue;
  }
  .box6 {
    background-color: blueviolet;
  }
  .box7 {
    background-color: brown;
  }
  .box8 {
    background-color: red;
  }
  .box9 {
    background-color: darkred;
  }
  .box10 {
    background-color: orange;